.showCart {
  position: fixed;
  bottom: 100px;
  right: 80px;
  width: 350px;
  height: 552px;
  background: #1b1d23;
  text-align: center;
  color: #adb4b0;
  z-index: 4;
  border-radius: 10px;
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
}

.showCart li {
  list-style-type: none;
}

.unpaidOrdersLink {
  position: absolute;
  top: 0;
  width: 100%;
  background: gold;
  border-radius: 10px 10px 0 0;
}

.scrollAbleCart {
  height: calc(552px - 80px);
  overflow-y: auto;
}

.foodElement {
  display: inline-flex;
  /*justify-content: flex-end;*/
  width: 316px;
  height: 25px;
  align-items: center;
  margin-top: 25px;
}

.foodName {
  width: 188px;
  text-align: left;
}

.priceFood {
  width: 50px;
}

.buttonsBox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.countFood {
  width: 15px;
}

.button {
  width: 31px;
  height: 28px;
}

.switchText {
  display: flex;
  justify-content: space-evenly;
}

.switchText p {
  height: 25px;
  width: 155px;
  z-index: 5;
  margin: 0;
  line-height: 25px;
}