.boxDelivery {
    position: fixed;
    bottom: 100px;
    right: 80px;
    width: 325px;
    height: 552px;
    background: #1b1d23;
    text-align: left;
    color: #adb4b0;
    z-index: 4;
    border-radius: 10px;
    padding-left: 15px;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
}

.title {
    font-size: 20px;
    margin-top: 13px;
}

.shopAddress {
    margin-top: 15px;
    padding-right: 10px;
    width: 310px;
    height: 50px;
    overflow-y: auto;
    user-select: text;
}

.shopAddressList {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.inline {
    display: inline-flex;
}

.footer{
    position: absolute;
    bottom: 52px;
}

.footer p {
    margin: 0;
}

.boxDelivery input, textarea {
    border-radius: 10px;
    border: solid 1px black;
    outline: none;
    margin-top: 15px;
    padding: 0 13px;
}

.input {
    width: 282px;
    height: 30px;
}

.inputHalf {
    width: 72px;
    height: 30px;
    padding: 0;
    margin-right: 5px;
}

.commentInput {
    width: 282px;
    height: 45px;
    resize: none;
}

.promocodeInput {
    width: 152px;
    height: 50px;
    text-align: center;
    font-size: 21px;
}

.promocodeInput::placeholder {
    font-size: 14px;
}

.cartTitle {
    font-size: 12px;
    position: absolute;
    bottom: 120px;
    left: 195px;
}

.payment {
    width: 120px;
    height: 52px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 10px;
}

.timeTitle {
    width: 310px;
    height: 33px;
    font-size: 16px;
    /*margin-top: 15px;*/
    display: flex;
    align-items: center;
}

.timeTitle p {
    margin: 0 25px 0 0;
}

/*.tomorrowTitle {*/
/*    display: flex;*/
/*    flex-direction: row-reverse;*/
/*    align-items: flex-end;*/
/*    align-content: flex-end;*/
/*    margin-right: 30px;*/
/*    height: 18px;*/
/*}*/

/*.tomorrowTitle p {*/
/*    width: 110px;*/
/*    align-self: flex-end;*/
/*    text-align: center;*/
/*}*/

.timeInline {
    display: flex;
    width: 100%;
    /*width: 312px;*/
    height: 58px;
    /*margin-bottom: 30px;*/
}

.hoursMinutes {
    /*width: 208px;*/
    margin: 5px;
    align-self: center;
}

.timeDiv p {
    width: 24px;
}

.timeSelect {
    width: 100px;
    height: 45px;
    border: solid 1px black;
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-size: 16px;
}

.inlineOrder {
    display: flex;
    width: 310px;
    height: 16px;
    font-size: 14px;
    justify-content: space-between;
    margin-top: 10px;
}

.inlineDelivery {
    display: flex;
    width: 310px;
    height: 16px;
    font-size: 14px;
    justify-content: space-between;
    margin-top: 8px;
}

.inlineTotal {
    display: flex;
    width: 310px;
    height: 23px;
    font-size: 20px;
    justify-content: space-between;
    margin-top: 12px;
}

.paymentForm {
    position: absolute;
    top: 20px;
    left: 7px;
    width: inherit;
}