.shopIcoButton {
    display: flex;
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 21px;
    right: 25px;
    z-index: 3;
    border-radius: 50%;
    background: #1b1d23;
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
}

.shopIco {
    width: 40px;
    height: 40px;
    margin: auto;
}

.shopIcoCount {
    position: absolute;
    width: 23px;
    height: 23px;
    right: 1px;
    top: 60px;
    border: solid #adb4b0;
    border-radius: 20px;
    color: white;
    line-height: 24px;
    text-align: center;
}

.loadingDiv {
    position: absolute;
    /*bottom: 0;*/
    width: fit-content;
    animation: run 10s infinite;
    color: #adb4b0;
}

.nameOnTop {
    width: fit-content;
    margin: 0;
    padding-left: 70px;
}

.loadingImg {
    width: 224px;
    height: 100px;
    position: absolute;
}

@keyframes run {
    0% {
        left: -40%;
    }
    100% {
        left: 110%;
    }
}