.exitButtonSmall {
    position: absolute;
    top: 5px;
    right: -12px;
    z-index: 1;
    padding: 0;
    border-radius: 25px;
}

.exitButtonSmall:active {
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
    transform: translateY(5%);
}

.line {
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
}

.checkImg {
    width: 30px;
}

.checkButton {
    width: 74px;
    height: 30px;
    background: #777777;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.checkButton:active {
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
    transform: translateY(5%);
}

.paymentLink {
    font-size: 12px;
    border: none;
    background: none;
    padding: 0;
    color: blue;
    text-decoration: underline;
}

.paymentLink:hover {
    color: #000086;
}

