.showCart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background: #1b1d23;
  overflow-y: scroll;
}

.showCart li {
  list-style-type: none;
}

.darkenBackgroundShow {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: content-box;
  background: #666;
  background: rgba(102, 102, 102, 0.5);
  z-index: 3;
}

.cartBox {
  width: 550px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.closeButton {
  height: 55px;
  width: 55px;
  position: relative;
  top: 5%;
  left: 45%;
  z-index: 3;
  cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
  border-radius: 25px;
  border-color: #1b1d23;
  border-style: solid;
  border-width: 6px;
  font-size: 35px;
  line-height: 0;
}

.closeButton:active {
  transform: translateY(4%);
}

.shoppingCartTitle {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  border-bottom: solid black;
}

.buttonToOrder {
  font-size: 24px;
  color: black;
  background: #747474;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  width: 200px;
  position: absolute;
  top: 89%;
  left: 22%;
  border: solid #1b1d23;
  text-decoration: none;
}

.buttonToOrder:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(-15%);
}

.foodElement {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
  border-bottom: solid 2px black;
}

.selectedFood {
  width: 240px;
}

.priceFood {
  padding-right: 10px;
}

.buttonsBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countFood {
  width: 25px;
}

.button {
  --t: 3px; /* Thickness */
  --l: 38px; /* size of the symbol */
  --s: 5px; /* space around the symbol */
  --c1: #fff; /* Plus color*/
  --c2: black; /* background color*/

  display: inline-block;
  width: var(--l);
  height: var(--l);
  padding: var(--s);
  box-sizing: border-box; /*Remove this if you don't want space to be included in the size*/
}

.Add {
  background: linear-gradient(var(--c1), var(--c1)) content-box,
  linear-gradient(var(--c1), var(--c1)) content-box,
  var(--c2);

}

.Delete {
  background: linear-gradient(var(--c1), var(--c1)) content-box,
  var(--c2);
}

._style {
  background-position: center;
  background-size: 100% var(--t), var(--t) 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid 1px gray;
  cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}
