.menuItems {
    margin-left: 60px;
}

.foodElement {
    vertical-align: top;
    display: inline-block;
    border: solid black;
    font-size: 20px;
    margin: 10px;
    width: 200px;
    height: 195px;
    text-align: center;
}

.item {
    display: grid;
    height: 100%;
    grid-template-areas:
            "D D"
            "A B"
            "C C";
    align-content: start;
}

.item:hover {
    margin-top: -3.5px;
    margin-left: -2.5px;
    border: solid black;
    width: 100%;
    backface-visibility: hidden;
    height: 416px;
    position: relative;
    z-index: 1;
}

.itemActive:hover {
    background-color: inherit
}

.itemNotActive:hover {
    background-color: #4d4f4e
}

.item:hover .description {
    overflow: hidden;
}

.name {
    grid-area: D;
    height: 24px;
    width: 200px;
}

.name span {
    vertical-align: top;
    line-height: 21px;
}

.foodImg {
    grid-area: A;
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-top: black solid;
    border-bottom: black solid;
    border-right: black solid;
}

.sectorOfPriceCountBuy {
    grid-area: B;
    height: 103px;
    position: relative;
}

.price {
    list-style-type: none;
    width: 75px;
    height: 40px;
    display: flex;
    margin-left: 10px;
    font-size: 22px;
}

.deleteAndCountFood {
    width: 90px;
    height: 30px;
    text-align: center;
}

.deleteItem {
    display: inline-block;
    width: 29px;
    height: 29px;
    border: solid #adb4b0;
    border-radius: 20px;
    background: none;
    color: inherit;
    font-size: 18px;
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.countItem {
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    width: 23px;
    height: 23px;
    border: solid #adb4b0;
    border-radius: 20px;
}

.buyButton {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 90px;
    border: solid #adb4b0;
    border-radius: 20px;
    background: #4d4f4e;
    font-family: "Comic Sans MS", sans-serif;
    font-size: 21px;
    line-height: 11px;
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.buyButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(-4px);
}

.description {
    grid-area: C;
    list-style-type: none;
    font-size: 17px;
    width: 190px;
    overflow: hidden;
}