.showBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: #1b1d23;
    /*overflow-y: scroll;*/
    text-align: center;
    color: #adb4b0;
}

.usersTitle {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 20px;
    border-bottom: solid black;
}

.showUsers li {
    list-style-type: none;
}

.line {
    display: inline-flex;
    width: 100%;
    color: #adb4b0;
    font-size: 16px;
    padding: 0;
}

.hover:hover{
    background: #777777;
}

.line p{
    margin: 10px 0;
}

.scrollAbleDashboard {
    width: 500px;
    height: 410px;
    padding-bottom: 20px;
    overflow-y: auto;
}

.footerTheOrderDialog {
    position: absolute;
    width: 100%;
    display: flex;
    border-radius: 0 0 10px 10px;
}

.footerTheOrderDialogButton {
    font-size: 24px;
    color: black;
    background: #747474;
    border-radius: 0 0 10px 10px;
    padding: 0 8px;
    width: 250px;
    height: 37px;
    border: solid #1b1d23;
}

.footerTheOrderDialogButton:active {
    box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
    transform: translate(0, -10%);
}

.paymentFormOrderContent {
    position: absolute;
    top: 40px;
    width: 100%;
}