.errorLog {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.error {
    background: rgba(130, 0, 0, 0.6);
    z-index: 3;
    /*animation: hideAnimation 0s ease-in 4s forwards;*/
}

.popupGreen {
    background: rgba(19, 130, 0, 0.6);
    z-index: 3;
    /*animation: hideAnimation 0s ease-in 4s forwards;*/
}

@keyframes hideAnimation {
    to {
        background: none;
        z-index: unset;
        /*visibility: hidden;*/
    }
}