.imgHeaderBack {
  width: 143px;
  height: 100px;
}

.mainGoose_view {
  height: 100px;
  filter: invert(1);
}

.lasers_view {
  position: fixed;
  top: 10px;
  height: 2vmin;
  animation: fire_laser 0.8s 1 forwards;
}

@keyframes fire_laser {
  0% {
    left: 110px;
  }
  100% {
    left: 100%;
  }
}
