.loginDialog {
    position: absolute;
    width: 400px;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: #E5E5E5;
}

.naming {
    line-height: 21px;
    text-align: center;
}

.afterName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: #282c34;
    align-items: flex-start;
    padding-bottom: 10px;
    border-radius: 10px;
}

.afterTokenDialog {
    margin-top: 10px;
    margin-left: 20px;
}

.leftBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.numberOrCodeBox {
    margin-top: 25px;
    margin-left: 23px;
    width: 244px;
    color: black;
    opacity: 0.8;
}

.phoneForm {
    text-align: center;
    width: 244px;
    height: 36px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    letter-spacing: 0.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #878787;

}

.phoneBeforeCode text {
    margin-left: 10px;
}

.phoneBeforeCode::after {
    position: absolute;
    left: 5px;
    top: 3px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.6;
}

.codeAfterNumber {
    width: 244px;
    height: 36px;
    border-radius: 10px;
    font-size: 21px;
    border: none;
    outline: none;
    letter-spacing: 0.2em;
    text-align: center
}

.firstLine {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.sendCodeFor {
    position: absolute;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 23px;
}

.editBtn {
    padding-left: 13px;
    align-self: center;
}

.token {
    padding-top: 13px;
    padding-left: 13px;
    max-width: 350px;
    overflow-wrap: break-word;
}

.loginBtn {
    width: 74px;
    height: 30px;
    margin: 28px 28px 0 0;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #E5E5E5;
}

.loginBtnPass {
    position: absolute;
    right: 1%;
}

.logoutBtn {
    height: 30px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    align-self: flex-end;
    margin: 23px 20px 0 0;
    color: #E5E5E5;
}

.loginInput{
    width: 208px;
    height: 36px;
    margin-top: 25px;
    margin-left: 23px;
    padding: 1px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.passwordLine {
    position: relative;
    margin-top: 9px;
    margin-left: 23px;
}

.passwordInput {
    width: 208px;
    height: 36px;
    border-radius: 10px;
    padding: 1px 20px;
    border: none;
    outline: none;
}

.passwordLine button{
    width: 40px;
    height: 40px;
    position:absolute;
    right: 10px;
}

.eyeInput {
    width: 40px;
}

.loginByPassLink {
    font-size: 12px;
    margin-top: 4px;
    line-height: 20px;
    margin-left: 23px;
    border: none;
    background: none;
    padding: 0;
    color: inherit;
}

.loginByPassLink:hover {
    color: #0000bb;
}

.loginByToken {
    font-size: 16px;
    margin-left: 23px;
    margin-top: 18px;
    line-height: 20px;
}

.tokenImg {
    display: flex;
    margin-left: 28px;
    margin-top: 9px;
    line-height: 15px;
    margin-right: 25px;
}

.tokenImg img {
    width: 50px;
    margin-right: 10px;
}

.tokenImg button {
    width: 50px;
    height: 50px;
    margin-right: inherit;
}

.penEdit {
    width: fit-content;
    height: fit-content;
    margin-right: 5px;
    align-self: center;
}