.nav {
  display: flex;
  list-style-type: none;
  width: 100%;
  height: 100px;
  text-align: left;
  background-color: #1b1d23;
  max-height: 100px;
  justify-content: space-between;
}

.leftSide {
  display: flex;
}

.bar {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar li {
  font-size: 20px;
  margin: 0 40px;
}

.textInactive {
  color: white;
  text-decoration: none;
}

.textActive {
  color: black;
  background: #747474;
  border-radius: 25px;
  padding: 0 5px;
}

.rightSide {
  align-self: center;
  display: flex;
  width: fit-content;
}

.userIco {
  color: white;
  margin-right: 35px;
  font-size: 20px;
  cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.shopIcoDiv {
  display: flex;
  width: 80px;
  height: 80px;
  position: fixed;
  bottom: 21px;
  right: 25px;
  z-index: 3;
  border-radius: 50%;
  background: #1b1d23;
}

.shopIco {
  width: 40px;
  height: 40px;
  margin: auto;
  cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.shopIcoCount {
  position: absolute;
  width: 23px;
  height: 23px;
  right: 1px;
  top: 60px;
  border: solid #adb4b0;
  border-radius: 20px;
  color: white;
  line-height: 24px;
  text-align: center;
}