.nav {
  display: flex;
  list-style-type: none;
  width: 100%;
  height: 100px;
  text-align: left;
  background-color: #1b1d23;
  max-height: 100px;
  justify-content: space-between;
}

.leftSide {
  display: flex;
}

.bar {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bar li {
  font-size: 20px;
  margin: 0 40px;
}

.textInactive {
  color: white;
  text-decoration: none;
}

.textActive {
  color: black;
  background: #747474;
  border-radius: 25px;
  padding: 0 5px;
}

.rightSide {
  align-self: center;
  display: flex;
  width: fit-content;
}

.userIco {
  color: white;
  font-size: 20px;
  margin-right: 35px;
}