.openButton {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.formPopup {
    display: block;
    overflow-y: scroll;
    position: fixed;
    height: 50%;
    bottom: 0;
    right: 15px;
    z-index: 9;
    border-top: solid #000000;
    border-left: solid #000000;
    border-radius: 10px 0 0 0;
}

/* width */
.formPopup::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.formPopup::-webkit-scrollbar-track {
    background: #4c4c4c;
}

/* Handle */
.formPopup::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.formPopup::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.formContainer {
    max-width: 300px;
    padding: 10px;
    background-color: #4d4f4e;
}

.closeButton {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 50%;
    right: 10px;
    border: brown;
    color: aliceblue;
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.list {
    list-style-type: disc;
    font-family: 'Century Gothic', sans-serif;
    font-size: 20px;
    text-align: left;
}