.darkenBackground {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: content-box;
    background: rgba(102, 102, 102, 0.5);
    z-index: 3;
    backdrop-filter: blur(10px);
}

.activeBox {
    width: 550px;
    height: 600px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #adb4b0;
}

.closeButton {
    height: 55px;
    width: 55px;
    position: absolute;
    top: 3%;
    right: 1%;
    z-index: 3;
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
    border-radius: 25px;
    border-color: #1b1d23;
    border-style: solid;
    border-width: 6px;
    font-size: 35px;
    line-height: 0;
}

.closeButton:active {
    transform: translateY(4%);
}