* input {
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

* button {
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.loginDialog {
    position: absolute;
    width: 405px;
    top: 5%;
    left: 15%;
    color: #E5E5E5;
}

.naming {
    line-height: 19px;
}

.afterName {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: #282c34;
    align-items: flex-start;
    padding-bottom: 20px;
    border-radius: 10px;
}

.flexbox {
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.leftBar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

.numberOrCodeBox {
    margin-top: 25px;
    margin-left: 23px;
    width: 244px;
    color: black;
    opacity: 0.8;

}

.phoneForm {
    text-align: center;
    width: 244px;
    height: 36px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #878787;

}

.phoneBeforeCode text {
    margin-left: 10px;
}

.phoneBeforeCode::after {
    position: absolute;
    left: 5px;
    top: 3px;
    content: attr(data-placeholder);
    pointer-events: none;
    opacity: 0.6;
}

.codeAfterNumber {
    width: 244px;
    height: 36px;
    border-radius: 10px;
    font-size: 21px;
    border: none;
    outline: none;
    letter-spacing: 0.1em;
    text-align: center
}

.token {
    width: 400px;
    overflow-wrap: break-word;
}

.afterToken {
    margin-top: 32px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 20px;
}

.loginBtn {
    width: 74px;
    height: 30px;
    margin-top: 29px;
    margin-left: 31px;
    margin-right: 20px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}

.loginBtn text {
    position: static;
    width: 74px;
    height: 30px;
    left: 0;
    top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
}

.loginInput{
    width: 208px;
    height: 36px;
    margin-top: 25px;
    margin-left: 23px;
    padding: 1px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.passwordInput {
    width: 208px;
    height: 36px;
    margin-top: 9px;
    margin-left: 23px;
    border-radius: 10px;
    padding: 1px 20px;
    border: none;
    outline: none;
}

.eyeInput {
    width: 40px;
    position:absolute;
    bottom:42px;
    right:135px;
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.loginByPassLink {
    font-size: 12px;
    margin-top: 4px;
    line-height: 20px;
    margin-left: 23px;
    border: none;
    background: none;
    padding: 0;
    color: inherit;
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.loginByPassLink:hover {
    color: #0000bb;
}

.loginByToken {
    font-size: 16px;
    margin-left: 23px;
    margin-top: 18px;
    line-height: 20px;
}

.tokenImg {
    display: flex;
    margin-left: 28px;
    margin-top: 9px;
    line-height: 15px;
    margin-right: 25px;
}

.tokenImg img {
    width: 50px;
    margin-right: 10px;
}

.tokenImg div {
    width: 50px;
    height: 50px;
    margin-right: inherit;
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}