.firstDiv {
    padding: 5px;
    /*border: 1px solid blue;*/
    /*background-color: yellow;*/
}

.secondDiv {
    display: inline-block;
    border: solid black;
    font-size: 20px;
    margin: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.bufferDiv {
    position: absolute;
}

.bufferDiv li {
    color: #adb4b0;
    list-style-type: none;
}
