*{
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.app {
  cursor: url("https://cdn.custom-cursor.com/db/4130/32/arrow2402.png"), auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), pointer;
}

*::-webkit-scrollbar {
  width: 10px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #4c4c4c;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.appContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #282c34;
  overflow: scroll;
  overflow-y: auto;
}

.appContainer::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.appContainer::-webkit-scrollbar-track {
  background: #4c4c4c;
}

/* Handle */
.appContainer::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.appContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}