.App {
  text-align: center;
}

.parent {
  position: relative;
}

.image1 {
  position: fixed;
  top: 5%;
  left: 35%;
  height: 40vmin;
}

.image2 {
  position: fixed;
  top: 10%;
  height: 2vmin;
  animation: fire 0.8s 1 forwards;
}

@keyframes fire {
  0% {
    left:57%;
  }
  100% {
    left: 100%;
  }
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .parent {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);

  }
  to {
    transform: rotate(360deg);

  }

}

.App-header {
  position: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
