.showRoom {
    padding-bottom: 160px;
    color: #adb4b0;
}

.foodElement {
    vertical-align: top;
    display: inline-block;
    border: solid black;
    font-size: 20px;
    margin: 10px;
    width: 200px;
    height: 195px;
    text-align: center;
}

.item {
    display: grid;
    height: 100%;
    grid-template-areas:
            "A B"
            "C C";
}

.item:hover {
    margin-top: -3.5px;
    margin-left: -2.5px;
    border: solid black;
    width: 100%;
    backface-visibility: hidden;
    background-color: #4d4f4e;
    height: 416px;
}

.item:hover .description {
    overflow: hidden;
}


.foodImg {
    grid-area: A;
    height: 100px;
    border-bottom: black solid;
    border-right: black solid;
}

.namePrice {
    grid-area: B;
    height: 100px;
    text-align: left;
    list-style-type: none;
    inline-size: 90px;
    overflow-wrap: break-word;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.description {
    grid-area: C;
    list-style-type: none;
    font-size: 17px;
    width: 190px;
    overflow: hidden;
}

.topBar {
    position: fixed;
    width: 100px;
    right: 50px;
    top: 10px;
}

.shopIco {
    width: 100px;
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.shopIcoCount {
    position: fixed;
    width: 23px;
    height: 23px;
    right: 40px;
    top: 50px;
    border: solid #adb4b0;
    border-radius: 20px;
}