.box {
    position: fixed;
    height: 100%;
    width: 50px;
    align-items: center;
    /*min-height: 100%;*/
    /*background-color: #282c34;*/
    background-color: #282c34;
    border-right: solid 5px #1b1d23;
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 15px;
    padding-top: 15px;
    transition: all .5s ease-in-out;
}

.categoryButton {
    /*transform: rotate(90deg);*/
}

.categoryButton[is_category_show="true"] {
    transform: rotate(0deg);
}
