.showCart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background: #1b1d23;
  /*overflow-y: scroll;*/
  text-align: center;
  color: #adb4b0;
}

.showCart li {
  list-style-type: none;
}

.shoppingCartTitle {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 20px;
  border-bottom: solid black;
}

.scrollAbleCart {
  width: 500px;
  height: 450px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.buttonToOrder {
  font-size: 24px;
  color: black;
  background: #747474;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  width: 300px;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translateX(-50%);
  border: solid #1b1d23;
  text-decoration: none;
  text-align: center;
}

.buttonToOrder:active {
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
  transform: translate(-50%, 5%);
}

.foodElement {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
  border-bottom: solid 2px black;
}

.selectedFood {
  width: 240px;
}

.priceFood {
  padding-right: 10px;
}

.buttonsBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.countFood {
  width: 25px;
}

.button {
  --t: 3px; /* Thickness */
  --l: 38px; /* size of the symbol */
  --s: 5px; /* space around the symbol */
  --c1: #fff; /* Plus color*/
  --c2: black; /* background color*/

  display: inline-block;
  width: var(--l);
  height: var(--l);
  padding: var(--s);
  box-sizing: border-box; /*Remove this if you don't want space to be included in the size*/
}

.Add {
  background: linear-gradient(var(--c1), var(--c1)) content-box,
  linear-gradient(var(--c1), var(--c1)) content-box,
  var(--c2);

}

.Delete {
  background: linear-gradient(var(--c1), var(--c1)) content-box,
  var(--c2);
}

._style {
  background-position: center;
  background-size: 100% var(--t), var(--t) 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid 1px gray;
}
