.box {
    margin-top: 30px;
    display: inline-flex;
    height: 27px;
    gap: 21px;
    border-bottom: solid 2px #C4C4C4;
    width: fit-content;
}

.categoryBox {
    display: flex;
    height: inherit;
    white-space: nowrap;
    background: none;
    cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;

}

.categoryType {
    font-size: 21px;
    color: #adb4b0;
    margin-bottom: -2px;
}
