.barWrapper {
  margin-top: 30px;
  height: 27px;
  width: 100%;
}

.box {
  display: inline-flex;
  height: 27px;
  gap: 21px;
  border-bottom: solid 2px #c4c4c4;
  width: inherit;
  z-index: 1;
}

.boxFly {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 60px;
  padding-top: 10px;
  width: calc(100% - 70px);
  background: #282c34;
}

.categoryBox {
  display: flex;
  height: inherit;
  white-space: nowrap;
  background: none;
  cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.categoryType {
  font-size: 21px;
  color: #adb4b0;
  margin-bottom: -2px;
}
