.showRoom {
  padding-bottom: 160px;
  color: #adb4b0;
  overflow-x: hidden;
}

.footerImg {
  height: 100px;
  margin-top: 50px;
  position: relative;
  bottom: 10px;
  animation: run 10s infinite;
}

@keyframes run {
  0% {
    left: -60%;
  }
  100% {
    left: 60%;
  }
}

.emptyItemDialog {
  font-size: 30px;
}