.menuItems {
    margin-top: 25px;
}

.emptyDialog {
    font-size: 30px;
    margin-top: 40px;
}

.costBox {
    margin-right: 10px;
    margin-bottom: 4px;
    font-size: 14px;
    display: flex;
    align-items: flex-end;
}

.costBox span {
    margin-left: auto;
}

.searchBar {
    width: 306px;
    height: 30px;
    border-radius: 15px;
    margin-top: 21px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
    font-size: 21px;
    padding: 1px 21px;
    color: black;
    border: none;
    outline: none;
}