.showRoom {
  padding-bottom: 160px;
  color: #adb4b0;
  overflow-x: hidden;
  margin: 0 35px;
}

.footerImg {
  height: 100px;
  margin-top: 50px;
  position: relative;
  bottom: 10px;
  animation: run 10s infinite;
}

@keyframes run {
  0% {
    left: -40%;
  }
  100% {
    left: 110%;
  }
}

.menu_container {
  display: flex;
  flex-direction: column;
}

.roomName {
  font-size: 21px;
  margin-top: 25px;
}

.searchBar {
  width: 306px;
  height: 30px;
  border-radius: 15px;
  margin-top: 21px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  font-size: 21px;
  padding: 1px 21px;
  color: black;
  border: none;
  outline: none;
}