.showRoom {
  padding-bottom: 160px;
  color: #adb4b0;
  overflow-x: hidden;
}

.footerImg {
  height: 100px;
  margin-top: 50px;
  position: relative;
  bottom: 10px;
  animation: run 10s infinite;
}

@keyframes run {
  0% {
    left: -40%;
  }
  100% {
    left: 110%;
  }
}

.menuMessage {
  font-size: 30px;
}

.roomName {
  font-size: 21px;
  margin-top: 25px;
  margin-left: 25px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-evenly;
  column-gap: 35px;
  row-gap: 40px;
  list-style: none;
  margin-top: 40px;
  margin-left: 70px;
}

.shops {
  width: 250px;
  height: 200px;
  background: #1b1d23;
  position: relative;
  display: flex;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.75);
  cursor: url("https://cdn.custom-cursor.com/db/4129/32/arrow2402.png"), auto;
}

.shops:active {
  box-shadow: 0 0 16px 4px rgba(0, 0, 0, 0.75);
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /*object-fit: cover;*/
}

.naming {
  position: absolute;
  bottom: 0;
  font-size: 21px;
  color: white;
  width: 250px;
  height: 45px;
  background: linear-gradient(360deg, rgba(13, 13, 13, 0.45) 0%, rgba(13, 13, 13, 0) 100%);
}

.naming text{
  margin-left: 7px;
  line-height: 50px;
}