.showRoom {
  color: #adb4b0;
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 60px;
}

.loadingDiv {
  position: absolute;
  bottom: 0;
  width: fit-content;
  animation: run 10s infinite;
}

.nameOnTop {
  width: fit-content;
  margin: 0;
  padding-left: 70px;
}

.loadingImg {
  width: 224px;
  height: 100px;
  position: absolute;
}

@keyframes run {
  0% {
    left: -40%;
  }
  100% {
    left: 110%;
  }
}